<!DOCTYPE html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="./css/main.css" />
  <body>
    <form action="/" method="post">
      <input type="text" name="city" placeholder="Enter a city name" />
      <button type="submit" name="submit">Submit</button>
    </form>

    <script src="./js/main.js"></script>
  </body>
</head>
